#experiences-list {
  .flex-row {
    padding-left: 10%;
    padding-right: 10%;
  }

  .experience-title {
    width: 30%;
  }

  .experience-name {
    width: 25%;
  }

  .experience-location {
    padding-left: 10%;
    width: 25%;
  }
}
