.hidden {
  display: none;
}

.flex-row {
  display: flex;
}

.full-width {
  width: 100%;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
